.my-router-view .top-nav {
    background-color: #4c4b4b;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.my-router-view .top-nav .nav-item {
    margin:0 10px;
}

.my-router-view .top-nav .nav-item.active{
    color: #2297e5;
}